body {
  margin: 0;
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: Poppins-medium;
  src: url(./assets/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-light;
  src: url(./assets/Poppins/Poppins-Light.ttf);
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  font-family: Poppins-light;
  font-size: 12px;
  color: #ffffff;
}
nav {
  padding-top: 21px;
  margin-right: 139px;
}
header {
  background-image: url("./assets/Group 9/Group 9@2x.png"),
    url("./assets/Group 9/Group 9.png");
  background-position: left, right;
  background-size: 100%;
  height: 80vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  font-family: Poppins-medium;
  padding-top: 21px;
  font-size: 14px;
  margin-left: 139px;
}

.header-content {
  margin-top: 169px;
  margin-left: 139px;
}

.header-one {
  font-family: Poppins-medium;
  letter-spacing: 0px;
  font-weight: 800;
  color: #ffffff;
  line-height: 55px;
  text-align: left;
  font-size: 3em;
}

.header-two {
  margin-top: 20px;
  font-size: 14px;
  font-family: Poppins-light;
  line-height: 20px;
  color: #ffffff;
}

.check-ins {
  box-shadow: 0px 15px 30px #0000001a;
  width: 80%;
  background: #fff;
  height: 148px;
}

.checkin-text {
  letter-spacing: 0px;
  color: #5863f8;
  font-size: 13px;
  font-family: Poppins-medium;
  text-transform: capitalize;
  text-align: left;
}
.checkin-input {
  width: 260px;
  height: 50px;
  font-size: 13px;
  font-family: Poppins-medium;
  background: #eeeeee 0% 0% no-repeat padding-box;
}

.top-container {
  padding: 0.5rem 1rem;
  margin-top: -90px;
  margin-bottom: 35px;
}

.btn-container {
  margin-top: -67px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80vw;
}

.btn-one {
  width: 51px;
  height: 51px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.btn-two {
  width: 51px;
  height: 51px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #5863f8 0% 0% no-repeat padding-box;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
