body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: Poppins-medium;
  src: url(./assets/Poppins/Poppins-Medium.ttf);
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  position: relative;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  font-family: Poppins-medium;
  font-size: 12px;
  color: #ffffff;
}
nav {
    padding-top: 21px
}
header {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  padding: 0rem 2.5rem;
  background-image: url("./assets/Group 9/Group 9@2x.png"),
    url("./assets/Group 9/Group 9.png");
  background-position: left, right;
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
}

.logo {
  color: #ffffff;
  font-family: Poppins-medium;
  padding-top: 21px;
  font-size: 14px;
}
